@charset "UTF-8";
@font-face {
  font-family: "Iceland";
  src: url(./Assets/fonts/Iceland-Regular.ttf);
}
:root {
  --color0Bg: rgb(26, 24, 24);
  --color0Content: #6c6f6f;
  --color1NavbarBg: rgba(49, 54, 51, 0.288);
  --color2LiText: #cfd4d4;
  --color2LiBgHover: #23c7d35a;
  --color2LiTextHover: #1ef9f2;
  --color2LiBorderHover: rgb(20, 254, 219);
  --color3BorderHover: rgba(20, 254, 219, 0.402);
  --color4PText: rgba(176, 176, 176, 0.817);
  --color4BorderP: rgb(164 121 46 / 85%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Iceland", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: var(--color0Bg);
}

body {
  margin: 0 auto;
  text-align: center;
  background: var(--color0Bg);
  min-height: 100svh;
}

#content {
  padding: 0.1px 0; /* Ajoutez un espace en haut et en bas */
}

.container-color {
  border: 1px solid var(--color4BorderP);
  border-radius: 0px 0px 20px 20px;
  background: var(--color1NavbarBg);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

/* ------------------------------ */
nav {
  left: 50%; /* Déplace la navigation vers la moitié de la largeur de la fenêtre */
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); /* Recentre la navigation */
  opacity: 1;
  position: fixed;
  max-width: 1100px;
  margin: 0 auto;
  border: 1px solid var(--color4BorderP);
  border-radius: 0px 0px 20px 20px;
  background: var(--color1NavbarBg);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  height: 71px;
  -webkit-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
  z-index: 4;
}

#navbar:hover {
  border-color: var(--color3BorderHover);
}

ul {
  margin: 0;
  padding: 10px 25px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
}

li {
  color: var(--color2LiText);
  list-style: none;
  cursor: pointer;
  border: 1px solid rgba(20, 254, 219, 0);
  border-radius: 20px 0px;
  padding: 10px;
  font-size: 2rem;
  position: relative;
}

li:active {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

li:hover {
  background: var(--color2LiBgHover);
  color: var(--color2LiTextHover);
  border: 1px solid var(--color2LiBorderHover);
  border-radius: 20px 0px;
}

.logo {
  height: 25px;
  width: 25px;
  border-radius: 500px;
  opacity: 0.7;
}

.logo2 {
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}

li:hover .logo {
  -webkit-filter: sepia(50%) hue-rotate(75deg) saturate(1000%);
          filter: sepia(50%) hue-rotate(75deg) saturate(1000%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

li:hover .logo2 {
  -webkit-filter: sepia(40%) hue-rotate(90deg) saturate(500%);
          filter: sepia(40%) hue-rotate(90deg) saturate(500%);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/* ------------------------------- */
.main-header {
  position: relative;
  margin: 0 auto -30px;
  max-width: 2000px;
  height: 500px;
  background: url(./pic/B2.PNG) fixed center/contain no-repeat;
  color: white;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-header h1 {
  position: absolute;
  bottom: 20%;
  text-transform: uppercase;
  font-size: 8vw;
  font-weight: 700;
  margin: 100px 0 35px;
}
@media screen and (max-width: 768px) {
  .main-header {
    background-image: none;
    height: 200px;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 15px 8%;
}

.container p {
  width: 98%;
  margin: 10px auto 0;
  text-align: left;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid var(--color4BorderP);
  border-radius: 20px 0 5px 5px;
  background: var(--color1NavbarBg);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: rgba(15, 15, 13, 0.989) 2px 11px 6px 0px;
          box-shadow: rgba(15, 15, 13, 0.989) 2px 11px 6px 0px;
  font-size: 2.3rem;
}

.content {
  color: var(--color0Content);
  -webkit-transition: 1s;
  transition: 1s;
  max-width: 2000px;
  margin: 0 auto;
}

p {
  position: relative;
  color: var(--color4PText);
  font-size: 20px;
  padding: 30px;
  line-height: 30px;
}

p::-moz-selection {
  background: rgba(55, 143, 153, 0.9764705882);
  color: var(--color2LiTextHover);
}

p::selection {
  background: rgba(55, 143, 153, 0.9764705882);
  color: var(--color2LiTextHover);
}

.matriach {
  height: 600px;
  max-width: 500px;
  background: url("./pic/image0.png") fixed center/contain;
  border-radius: 5px;
  place-self: center;
  -webkit-box-shadow: 0px 5px 8px 0px #000000;
          box-shadow: 0px 5px 8px 0px #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 100px auto;
}
@media screen and (max-width: 768px) {
  .matriach {
    height: 400px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.gallery img {
  border-radius: 5px;
  width: 100%;
  -webkit-box-shadow: 0px 5px 8px 0px #000000;
          box-shadow: 0px 5px 8px 0px #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 3;
}

.gallery img:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  margin: 20px 0;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 5px 0px;
}

h2 {
  animation: borderAnim 5s alternate-reverse infinite;
}

@-webkit-keyframes borderAnim {
  100% {
    color: rgba(119, 126, 126, 0.7294117647);
  }
}

@keyframes borderAnim {
  100% {
    color: rgba(119, 126, 126, 0.7294117647);
  }
}
/* --------------------------- */
/* ----------RESPONSIVE-------------- */
/* Pour les petits écrans (par exemple, les smartphones) */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  #navbar {
    height: 54px;
  }
  ul {
    margin: 0;
    padding: 10px 25px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr 1fr;
    text-align: center;
  }
  ul li {
    padding: 6px;
    font-size: 1.6rem;
  }
  .logo {
    height: 15px;
    width: 15px;
    border-radius: 500px;
    opacity: 0.7;
  }
  .container p {
    font-size: 2rem;
  }
  p {
    padding: 20px;
  }
  li:hover {
    border-radius: 20px 0px;
    width: 100%;
    height: 100%;
  }
}
/* Pour les écrans moyens (par exemple, les tablettes) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 5px;
    line-height: 26px;
  }
  ul {
    margin: 0;
    padding: 10px 25px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr 1fr;
    text-align: center;
  }
  li:hover {
    border-radius: 20px 0px;
    width: 100%;
    height: 100%;
  }
  .container p {
    font-size: 2rem;
  }
  p {
    padding: 30px 40px;
  }
}
/* Pour les grands écrans (par exemple, les ordinateurs de bureau) */
@media screen and (min-width: 1025px) {
  body {
    font-size: 20px;
    line-height: 28px;
  }
  ul {
    margin: 0;
    padding: 10px 25px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr 1fr;
    text-align: center;
  }
  li:hover {
    border-radius: 20px 0px;
    width: 100%;
    height: 100%;
  }
  p {
    padding: 30px 50px;
  }
}/*# sourceMappingURL=index.css.map */